{% extends "blog/base.html" %}
{% block content %}
<h1 class='mb-3'>Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1> {# gets the username from the url #}
    {% for post in posts %}
        <article class="media content-section">
        <img class='rounded-circle article-img' src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted | date:'F d, Y' }}</small>
              {% comment 'this is for formatting the date in desired manner' %}
            {% endcomment %}
            {# This comment cannot span multiple lines coz it's single line comment #}

              {% comment %}
              # NAME
              # DESCRIPTION              
              {% endcomment %}

            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

  {# classbased view PostListView by default passes a  number of useful context variables(line is_paginated which checks if the page is paginated duh, page_obj is the object of the page which contains all the posts <here it is at max 5 posts> that are being paginated in per page) to access these pages which contains the specified number of posts #}
    {% if is_paginated %}

      {# displaying the previous and the first page link #}
      {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
        <a href="?page={{ page_obj.previous_page }}" class="btn btn-outline-info mb-4">Previous</a>
      {% endif %}

    {# making a button for current page #}
    {% for num in page_obj.paginator.page_range %} {# looping through all the pagination page number. page_ramge gives all the total range of the page #}
      {% if page_obj.number == num %} {# page_obj.number gives the page number of the current page #}
       <a href="?page={{ num }}" class="btn btn-info mb-4">{{num}}</a>

      {# to display the nearby pages ie display 4 and 6 if you're on page 5 #}
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} {# excluding the current page it will display 2 previous posts and 2 next posts #}
       <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{num}}</a>
      {% endif %}
    {% endfor %}

    {# displaying the next and the last page link #}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
      {% endif %}

    {% endif %}
    
{% endblock content %}